/***** DEFAULT CSS *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #302c2c !important;
  color: #fff !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(15px + 0.390625vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  font-weight: 200;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

p.success {
  color: green;
  display: block;
  margin: 1rem 0;
  text-align: center;
}

p.danger {
  color: red;
}

/***** NAVBAR CSS *****/

nav.navbar {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
  background-color: #302c2c;
  opacity: 0.95;
}

a.navbar-brand {
  width: 100px;
  margin: 0 0 0 0.8rem;
}

.navbar-nav {
  padding-right: 2rem;
  text-align: right;
  font-size: 1.5rem;
}

.navbar-link {
  color: #fff !important;
  letter-spacing: 0.8px;
  /* font-size: 1.5rem; */
  opacity: 0.75;
}

.navbar-link:hover,
.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 1rem 0;
}

.social-icon {
  display: inline-block;
  min-width: 120px;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin: 0 0.5rem;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 50%;
  margin: 0 auto;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 1rem 3rem;
  min-width: 206px;
  font-size: 1rem;
  position: relative;
  background-color: #302c2c63;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: ease-out 0.7s;
  -moz-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
  margin: 0 2rem 0 2rem;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button:hover {
  color: #302c2c;
  background-color: transparent;
  box-shadow: inset 400px 0 0 0 #ffffff;
}

nav.navbar .navbar-toggler {
  padding: 0;
  margin-right: 2rem;
  border: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

nav.navbar[aria-expanded="true"] {
  background-color: #302c2c;
}

.show {
  background-color: #302c2c;
  opacity: 0.95;
}

@media (min-width: 768px) {
  .navbar-nav {
    padding: 0;
  }
  .navbar-text button {
    margin-left: 0.5rem;
  }
  .navbar-link {
    padding: 0 2rem 0 0 !important;
  }
}

/***** BANNER CSS *****/
.banner {
  margin-top: 0;
  padding: 10rem 2rem 10rem;
}

.row {
  justify-content: space-between;
  margin: 0 auto !important;
  max-width: 1000px;
}

.custom-padding {
  padding: 0 !important;
}

.banner h1 {
  /* font-size: 2.2rem; */
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 1rem;
  display: block;
  min-height: 120px;
}
.banner p {
  color: #b8b8b8;
  /* font-size: 1rem; */
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 100%;
  text-align: justify;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 2rem;
  margin-left: 1rem;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.no-decoration:hover svg {
  margin-left: 2rem;
  color: #5ce1e6;
}

.no-decoration {
  text-decoration: none !important;
  padding: 1.5rem;
  color: white;
  display: inline-block;
  background: linear-gradient(#302c2cf9, #302c2c) padding-box,
    linear-gradient(to right, #0097b2, #5ce1e6) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  margin: 2rem auto;
  -webkit-transition: ease-out 0.7s;
  -moz-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
}

.banner .headerImg {
  animation: updown 3s linear infinite;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.banner-intro {
  display: block;
  padding-bottom: 1rem;
  font-size: 1.7rem;
}

.wrap {
  display: inline;
  width: fit-content;
  border-right: 0.08em solid #666;
  font-size: 1.7rem;
}

.banner .bgImg-left {
  position: absolute;
  width: 30%;
  max-width: 500px;
  top: -1%;
  left: 0;
}

.banner .bgImg-right {
  position: absolute;
  width: 30%;
  max-width: 500px;
  top: -1%;
  right: 0;
}

@media (min-width: 576px) {
  .wrap,
  .banner-intro {
    font-size: 2rem;
  }
}

/************ Skills Css ************/
.skill {
  padding: 0 0 5rem 0;
  position: relative;
}
.skill-bx {
  background: #1a1a1ae2;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
  /* font-size: 3rem; */
  font-weight: 700;
  text-align: center;
}
.skill p {
  color: #b8b8b8;
  /* font-size: 1.2rem; */
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
  text-align: justify;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.skill .item h3 {
  font-size: 1rem;
}

.tech-stack li {
  list-style: none;
  color: #666;
  font-size: 0.8rem;
}

.react-multiple-carousel__arrow {
  min-width: 50px !important;
  min-height: 50px !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(4% + 15px) !important;
}
.react-multiple-carousel__arrow--left {
  left: calc(4% + 15px) !important;
}

.react-multi-carousel-list {
  position: unset !important;
}

.skill .bgImg-left {
  position: absolute;
  width: 50%;
  max-width: 500px;
  top: -20%;
  left: 0%;
  opacity: 0.1;
}
.skill .bgImg-right {
  position: absolute;
  width: 50%;
  max-width: 500px;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: #302c2c;
}
.project h2 {
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: justify;
}
.project .nav.nav-pills {
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 50%;
}

.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.nav-link#projects-tabs-tab-first {
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-left: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-first.active {
  border: 3px solid rgb(0, 255, 247);
  color: aqua;
}

.nav-link#projects-tabs-tab-second {
  border-top: 3px solid rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  border-right: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.nav-link#projects-tabs-tab-second.active {
  border: 3px solid #00ffff;
  color: aqua;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto 1rem;
  max-width: 300px;
}

.proj-txtx {
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #302c2c;
  padding: 1rem;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
}
.proj-imgbx:hover .proj-txtx {
  opacity: 1;
}

.proj-imgbx:hover .proj-imgbx {
  backdrop-filter: blur(90%);
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  /* font-size: 15px; */
  letter-spacing: 0.8px;
  border-left: 2px solid gray;
  padding-left: 5px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.tab-pane {
  background-color: transparent;
}

.cert-bx {
  position: relative;
  overflow: hidden;
  margin: 1rem auto;
  width: 100%;
  border: 1px solid white;
  border-radius: 3rem;
  background-color: #302c2ce7;
  padding: 1rem;
  width: 70%;
}

.cert-bx h3 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.cert-txtx p {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
}

.project .bgImg-left {
  position: absolute;
  width: 50%;
  max-width: 500px;
  top: 0;
  left: 0%;
  opacity: 0.1;
}
.project .bgImg-right {
  position: absolute;
  width: 50%;
  max-width: 500px;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}
@media (max-width: 1768px) {
  .project .bgImg-left {
    display: none;
  }
  .project .bgImg-right {
    display: none;
  }
}

/************ CONTACT CSS ************/
.contact {
  background-color: #302c2c;
  padding: 60px 0 200px 0;
}
.contact img {
  width: 100%;
}
.contact h2 {
  /* font-size: 45px; */
  font-weight: 700;
  margin-bottom: 30px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  /* font-size: 18px; */
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  /* font-size: 16px; */
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  display: block;
  font-weight: 700;
  width: 100%;
  color: #302c2c;
  background-color: #fff;
  padding: 1rem 3rem;
  /* font-size: 1rem; */
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 3rem;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #302c2c;
  border: none;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;

  border-radius: 3rem;
}
.contact form button:hover::before {
  width: 100%;
  border: 1px solid white;
}

@media (max-width: 768px) {
  .contact img {
    display: none;
  }
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
}

.footer img {
  width: 30%;
}
.footer p {
  font-weight: 400;
  /* font-size: 14px; */
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
